.top {
  display: flex;
  width: 100%;
}

:root {
  --phc: black;
  --ph: white;
  --w: 0;
  --song:#333;
}


#isrc {
  display: none;
}

#isrclb {
  position: relative;
  font: inherit;
  background: rgba(255, 65, 65, 0.92);
  box-shadow: 0px 0px 10px cyan,
    0 0 20px cyan,
    0 0 30px cyan,
    0 0 40px cyan;
  border: 1px inherit black;
  color: white;
  text-shadow: 0px 0px 10px white,
    0 0 20px white,
    0 0 30px white,
    0 0 40px white;
  border-radius: 0.5em;
  font-size: 17px;
  padding: 10px 20px;
  font-weight: 600;
  transition: 1s ease;
}

@keyframes upload {
  0% {
    font-size: 15px;
  }

  50% {
    font-size: 17px;
  }

  100% {
    font-size: 15px;
  }
}

#isrclb:before {
  content: "";
  position: absolute;
  height: 2px;
  background: #1AADFF;
  bottom: 0.7px;
  left: 1.4px;
  width: 0;
  border-radius: 0 0 0 20px;
  transition: 1s ease-in-out;
}

#title {
  text-shadow: .5px 3.5px 5px var(--phc);

}

@keyframes rainbow {
  0% {
    text-shadow: 0 5px 20px red;
  }

  20% {
    text-shadow: 0 5px 20px yellow;
  }

  40% {
    text-shadow: 0 5px 20px green;
  }

  60% {
    text-shadow: 0 5px 20px purple;
  }

  80% {
    text-shadow: 0 0 10px blue;
  }

  100% {
    text-shadow: 0 0 10px pink;
  }
}

body {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center
}

.box {
  display: flex;
}

.box .eye {
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  background: #fff;
  margin: 0 10px;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

.box .eye::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 13px;
  border: 3px solid red;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #000;

}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

#edit {
  outline: none;
  height: 25px;
  font-size: 12px;
  color: var(--phc);
  width: 200px;
  border: 2px solid black;
  transition: 0.4s ease-in-out;

}

#edit:focus {
  transform: scale(1.5);
  border-color: #47E800;
  border-radius: 10px;
}

#edit:focus+#ph {
  padding: 5px;
  color: #47E800;
  top: -20px;
  left: -10px;
  transform: scale(0.75);
  background: var(--ph);
}

#inph {
  position: relative;
  display: flex;
  gap: 5px;
}

#ph {
  position: absolute;
  z-index: 4;
  transition: 0.30s ease-in-out;
  pointer-events: none;
  color: var(--phc);
  animation: 6s rainbow ease infinite;
  padding: 0 0 0 5px;
  top: 5px;
  left: 0px;
  font-weight: 600;
  font-style: italic;
}

#theme {
  position: relative;
  height: 40px;
  width: 70px;
  background: linear-gradient(to right, white, #222);
  border-radius: 30px;
  box-shadow: 2px 2.5px rgba(0, 0, 0, 0.7);
}

#circle {
  position: absolute;
  top: 4.5px;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.2s ease-in-out;
}

#image {
  height: 100px;
  width: 100px;
  transition: 0.75s ease;

}

.base {
  display: flex;
  gap: 25px;
  padding: 10px;
  border-radius: 30px;
}

.links {
  height: 35px;
  width: 35px;
}

#ireset {
  display: none;
  background: red;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  text-shadow: 1px 0 10px white,
    2px 0 20px white,
    3px 0 30px white,
    4px 0 40px white;
  font-weight: 400;
  box-shadow: 5px 3px 0 black;
  height: 35px;
  width: 80px;
  border: 2px inherit darkred;
  border-radius: 5px;
}

/* Basic styling for the range slider */
#progress-bar {
  -webkit-appearance: none;
  appearance: none;
  width: 60%;
  height: 8px;
  border-radius: 4px;
  background: linear-gradient(to right, red 0%, #ddd 0%);
  cursor: pointer;
  outline: none;
}

/* Track styling */
#progress-bar::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 4px;
}

#progress-bar::-moz-range-track {
  height: 8px;
  border-radius: 4px;
}

/* Hide the thumb */
#progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
}

#progress-bar::-moz-range-thumb {
  width: 0;
  height: 0;
  opacity: 0;
}

#progss{
  margin-left: 35px;
}
.music{
  width:98vw;
}
.selection{
  display: flex;
  margin-left:13.5vw;
  padding:20px 0 0 0;
}

#progss button{
  border: 0;
  background: transparent;
  font-size: 16px;
  color:var(--phc);
}

#song-title{
  text-shadow: 0px 0px 2.5px white,
  0px 4px 10px red,
  2px 4px 20px red;
}

#song-select{
  border:0;
  background:var(--song);
  border-top: 1px solid red;
  padding:4px;
  border-right: 2.5px solid red;
  border-bottom: 1px solid red;
  border-radius: 10px;
  font-size: 16px;
  color:var(--phc);
  outline:none;
}

.selection label{
  padding:4px;
}